<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382069587079-2m84p2sbrh8v9nfp1ds3ik6qrou1ne7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382069587079-2m84p2sbrh8v9nfp1ds3ik6qrou1ne7f</string>
	<key>API_KEY</key>
	<string>AIzaSyDqmlmKC90f8d0KqzuBsyupb7j6SN8ZUjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>382069587079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.housemaneger0908</string>
	<key>PROJECT_ID</key>
	<string>house-manager-db</string>
	<key>STORAGE_BUCKET</key>
	<string>house-manager-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382069587079:ios:e9856500983729baeecc22</string>
</dict>
</plist>